/* Google Fonts - poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;  
    /* Không bt dùng để làm gì */
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    /* Cột dọc */
    align-items: center;
    /* Cột ngang */
    justify-content: center;
    background-color: #f4f4f4;
}

/* Card */
.profile-card {
    /* Đi cùng với nhau */
    display: flex;
    flex-direction: column;
    align-items: center;
     /* Đi cùng với nhau */
    max-width: 370px; 
    width: 100%;
    background-color: #fff;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    /* Được dùng để làm gì? */
    position: relative;
}
.profile-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 36%;
    width: 100%;
    border-radius: 24px 24px 0 0;
    background-color: #4070f4;
}

/* Image */
.image {
    /* Không bt dùng để làm gì */
    position: relative;
    height: 170px;
    width: 150px;
    border-radius: 50%;
    background-color: #4070f4;
    padding: 3px;
    margin-bottom: 10px;
}
.profile-image {
    height: 100%;
    width: 100%;
    /* fit trong flutter */
    object-fit: cover;
    border-radius: 50%;
    /* Viền của ảnh */
    border: 3px solid #fff;
}

/* Text */
.text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Màu chữ */
    color: #333;
}
.name {
    font-size: 22px;
    font-weight: 500;
}
.job {
    font-size: 15px;
    font-weight: 400;
}

/* Media */
.media-buttons {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    height: 34px;
    width: 34px;
    background-color: #4070f4;
    border-radius: 50%;
    text-decoration: none;
    /* Khoảng cách margin là 0 pixel ở trên/dưới và 8 pixel ở trái/phải. */
    margin: 0 8px;
}

.buttons {
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.button {
    color: white;
    background-color: #4070f4;
    border-radius: 24px;
    border: none;
    padding: 8px 24px;
    margin: 0 10px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
}
/* Khi click vào */
.button:hover {
    background-color: #0e4bf1;
}

/* Analysis */
.analytics {
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.data {
    display: flex;
    align-items: center;
    color: #333;
    padding: 0 20px;
    border-right: 2px solid #e7e7e7;
}
.data i {
    font-size: 18px;
    margin-right: 6px;
}

.data:last-child {
    border-right: none;
}